body {
  background-blend-mode: color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body stretches to at least the height of the viewport */
}

.footer {
  background-color: #0c0000;
  margin-top: 100px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Aligner les éléments horizontalement */
  align-items: center; /* Centrer les éléments verticalement */
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 10px;
}
