.logo-container {
  width: 200px;
  float: left;
  color: #043555;

}

#tete {
  background-color: #043555;
  margin-right: 0; 
  color: #f6f8f6;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 0; 
  height: 125px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #f6f8f6;
  color: rgb(15, 15, 15);
  border: none;
  cursor: pointer;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 10px;
  
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #fff;
  text-decoration: underline;
}

.login-button {
  margin-left: auto;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Augmentez la valeur pour plus de flou */
  z-index: 999;
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background-color: #e74c3c;
  padding: 5px;
  border-radius: 3px;
}

.close-button:hover {
  background-color: #c0392b;
}

.login-modal h2 {
  color: #333; 
}

.login-modal label {
  color: #555; 
}

.login-modal input {
  padding: 8px;
  margin-bottom: 10px;
}

.login-modal button {
  padding: 5px;
  background-color: #043555;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-modal button:hover {
  background-color: #043555;
}
